/* #FFFFFF color text hero, address */
/* #212121 color text nav, heading h2,h3, button */
/* #2196F3 accent color*/
/* #757575 color tel, text*/
/* #E5E5E5 main background color */
/* #FFFFFF header background color */
/* #2F303A footer background color */
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  color: #212121;
}
/* Header */
.logo-1 {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}
.logo-2 {
  color: #000000;
}
.logo-3 {
  color: #ffffff;
}
.list {
  list-style: none;
}
.link-external {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #212121;
}
.link-external:hover,
.link-external:focus,
.link-internal:hover,
.link-internal:focus {
  color: #2196f3;
}
.link-internal {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: #757575;
}

/* Hero */
.hero {
  background-color: #2f303a;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  color: #ffffff;
}
.button {
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: #ffffff;
}
/* Features of work */
.feature {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  color: #212121;
}
.description {
  font-size: 14px;
  line-height: 1.7;
  color: #757575;
}
/* Our services */
.services {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: #212121;
}
/* Team */
.team {
  background-color: #f5f4fa;
}
.teammates {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: #212121;
}
.full-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #212121;
}
.position {
  font-size: 16px;
  line-height: 1.2;
  color: #757575;
}
/* Footer */
.contacs {
  background-color: #2f303a;
}
.address {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  color: #ffffff;
}
/* Our projects */
.button_filter {
  font-family: inherit;
  cursor: pointer;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
}
.button_filter:hover,
.button_filter:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.card {
  text-decoration: none;
}
.project-img {
  background-color: #eeeeee;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.project-type {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
