/* #FFFFFF color text hero, address */
/* #212121 color text nav, heading h2,h3, button */
/* #2196F3 accent color*/
/* #757575 color tel, text*/
/* #E5E5E5 main background color */
/* #FFFFFF header background color */
/* #2F303A footer background color */
body {
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  color: #212121;
}
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}
.link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contant-page {
  background-color: #e5e5e5;
}
/* Header */
.logo-1 {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-2 {
  color: #000000;
}
.logo-3 {
  color: #ffffff;
}
.list {
  list-style: none;
}
.link-external {
  color: inherit;
}
.link-external:hover,
.link-external:focus,
.link-internal:hover,
.link-internal:focus {
  color: #2196f3;
}
.link-internal {
  color: #757575;
}
/* Hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.button {
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  cursor: pointer;
  color: #ffffff;
}
.button:hover,
.button:focus {
  background-color: #188ce8;
}
/* Features of work */
.feature-title {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-description {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Team */
.team-section {
  background-color: #f5f4fa;
}
.full-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.position {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}
/* Footer */
.contacs {
  background-color: #2f303a;
}
.address {
  text-decoration: none;
  font-style: normal;
  color: #ffffff;
}
/* Our projects */
.button-filter {
  font-family: inherit;
  cursor: pointer;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #212121;
}
.button-filter:hover,
.button-filter:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.card {
  text-decoration: none;
}
.project-img {
  background-color: #eeeeee;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.project-type {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;
}
